.place__website-link {
  grid-area: link;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.place__website-link:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}

@media screen and (max-width: 1024px) {
  .place__website-link {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website-link {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website-link {
    max-width: 288px;
  }
}
