.header__lang-link {
  justify-self: end;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-self: end;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.header__lang-link:first-of-type {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
