.header__lang-link {
  justify-self: end;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
  align-self: center;
}

.header__lang-link:last-of-type {
  justify-self: start;
}
