.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  gap: 1em;
  justify-items: center;
  margin: 5.75em 0;
  padding: 0 3em;
  max-width: 1184px;
}
