.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.375em;
  grid-column: 1/1;
  grid-row: -2/-2;
  z-index: 2;
  /* margin: auto; */
  max-width: 360px;
  text-align: center;
  justify-self: center;
  align-self: start;
}
