.place__website_link {
  grid-area: link;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px){
  .place__website_link {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px){
  .place__website_link {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px){
  .place__website_link {
    max-width: 288px;
  }
}
