.lead__title {
  max-width: 720px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 6em;
  line-height: 6.25rem;
  margin: 3rem auto 2rem;
}
@media screen and (max-width: 1024px){
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px){
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px){
  .lead__title {
    max-width: 288px;
  }
}
