.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.833em;
  margin: 0 0 1.625rem;
  max-width: 484px;
}

@media screen and (max-width: 1024px){
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px){
  .place__paragraph {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px){
  .place__paragraph {
    max-width: 288px;
  }
}
