.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1em;
  margin: 0;
}

@media screen and (max-width: 320px){
  .footer__copyright {
    max-width: 186px;
  }
}
