.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.63em;
  margin-bottom: 2em;
  max-width: 690px;
}

@media screen and (max-width: 768px){
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px){
  .intro__text {
    max-width: 288px;
  }
}
