.intro {
  padding: 0 6.25em;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 3em;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 0 1em;
  }
}
