.cover {
  display: flex;
  margin: 3.75em auto;
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: repeat(2, 1fr);*/
  /*gap: 2em;*/
  max-width: 1184px;
}

.cover:before {
  content: '';
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}

.cover:hover:before {
  opacity: 0.8;

}


@media screen and (max-width: 1024px){
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px){
  .cover {
    max-width: 320px;
    margin: 3.75em 0 4em;
  }
}
