.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  justify-self: start;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding: 0 1rem;
  }
}
