.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 4.75rem;
  align-self: end;
  justify-self: center;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/-2;
  z-index: 2;
  /* margin: auto; */
  max-width: 560px;
}

@media screen and (max-width: 320px){
  .cover__title {
    max-width: 288px;
  }
}
