.place {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title link"
    "image paragraph_up"
    "image paragraph_down"
}
