.intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3.375em;
  line-height: 3.625rem;
  margin: 0 0 2.5rem;
  max-width: 690px;
}

@media screen and (max-width: 768px){
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px){
  .intro__title {
    max-width: 288px;
  }
}
